version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - dependencies
    groups:
      rollup:
        patterns:
          - "@rollup/*"
          - "rollup"
          - "rollup-*"
      eslint:
        patterns:
          - "eslint*"
          - "@typescript-eslint/*"
          - "prettier"
      babel:
        patterns:
          - "@babel/*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies
      - ci
